form {
  display: inline;
}

img {
  border-radius: 25px;
  border: 10px double #f5f37d;
  box-shadow: 10px 10px white;
  max-width: 100%;
  padding: 0.25em;
  display: inline-block;
}

h3 {
  font-size: 2rem;
  text-align: center;
}

.list {
  height: 34rem;
  list-style-type: none;
  background-color: #7c7ff6;
  color: #f5f37d;
  padding: 5rem;
  border-radius: 25px;
  margin: 1rem;
  border: 10px double #f5f37d;
  box-shadow: 10px 10px white;
}

.paper {
  border: 10px double #797bf0;
  align-items: center;
  box-shadow: 10px 10px white;
}
