.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 0 30px;
  background: #7c7ff6;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 3rem;
  font-weight: 700;
  color: #f5f37d;
  padding-left: 10px;
  margin: 0;
  text-align: center;
}

.navLink {
  display: inline-block;
  color: #f5f37d;
  background-color: #7c7ff6;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  border: 10px solid #f5f37d;
  border-radius: 25px;
  margin: 2rem;

  /* these last two make the logout button in
  the nav bar look like another link */
  /* border: none; */
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #f5f37d;
  color: #7c7ff6;
}

.navLink:active {
  background-color: #7c7ff6;
  color: #f5f37d;
}

.buttons {
  text-align: center;
}
